In [9]:
import pandas as pd
import random

# How many random records?
num_records = 1000

genders = ["Male", "Female"]
age_groups = ["18-34", "35-54", "55+"]
income_levels = ["Low", "Medium", "High"]


data = {
    "gender": [random.choice(genders) for _ in range(num_records)],
    "age_group": [random.choice(age_groups) for _ in range(num_records)],
    "income": [random.choice(income_levels) for _ in range(num_records)]
}

data = pd.DataFrame(data)
data.head()

   gender age_group  income
0    Male       55+    High
1  Female     35-54    High
2  Female       55+    High
3  Female       55+     Low
4    Male     35-54  Medium

OR

In [10]:
import pandas as pd
data = pd.read_csv(r'examples\data-with-pre_weight.csv')
data['pre_weight'] = 1.0

In [11]:
# Define weighting targets
spec = {
    "gender": {"Male": 0.5, "Female": 0.5},
    "age_group": {"18-34": 0.4, "35-54": 0.4, "55+": 0.2},
    "income": {"Low": 0.33, "Medium": 0.34, "High": 0.33}
}

In [12]:
from rim_weighting.rim_pandas import RIMWeightingPandas

# Initialize the RIM Weighting class
rim = RIMWeightingPandas(
    data=data, 
    spec=spec,
    pre_weight='pre_weight'
)

# Apply weights
weighted_data = rim.apply_weights(
    max_iterations=20, 
    min_weight=0.2,
    max_weight=2.0
)

Iteration 1: RMS Error = 630.029688, Efficiency = 92.96%, Max Weight = 1.2624, Min Weight = 0.5682
âœ… Converged in 1 iterations: All weights within limits.

In [13]:
rim.generate_summary()

|    | gender   |   Unweighted Count |   Unweighted % |   Weighted_Count |   Min_Weight |   Max_Weight |   Weighted % |
|----|----------|--------------------|----------------|------------------|--------------|--------------|--------------|
|  0 | Female   |                493 |        49.3000 |         497.0674 |       0.5843 |       1.2624 |      49.7067 |
|  1 | Male     |                507 |        50.7000 |         502.9326 |       0.5682 |       1.2275 |      50.2933 |


|    | age_group   |   Unweighted Count |   Unweighted % |   Weighted_Count |   Min_Weight |   Max_Weight |   Weighted % |
|----|-------------|--------------------|----------------|------------------|--------------|--------------|--------------|
|  0 | 18-34       |                335 |        33.5000 |         398.9557 |       1.1146 |       1.2624 |      39.8956 |
|  1 | 35-54       |                337 |        33.7000 |         400.4913 |       1.1057 |       1.2523 |      40.0491 |
|  2 | 55+         |                328 |        32.8000 |         200.5531 |       0.5682 |       0.6435 |      20.0553 |


|    | income   |   Unweighted Count |   Unweighted % |   Weighted_Count |   Min_Weight |   Max_Weight |   Weighted % |
|----|----------|--------------------|----------------|------------------|--------------|--------------|--------------|
|  0 | High     |                317 |        31.7000 |         330.0000 |       0.6258 |       1.2624 |      33.0000 |
|  1 | Low      |                343 |        34.3000 |         330.0000 |       0.5682 |       1.1462 |      33.0000 |
|  2 | Medium   |                340 |        34.0000 |         340.0000 |       0.6120 |       1.2345 |      34.0000 |

In [14]:
weighted_data.to_csv('data.csv')